@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --font-default-login: "Montserrat", sans-serif;
  --font-roboto: "Roboto Condensed", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
  --font-two: "Titillium Web", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-bebas: "Bebas Neue", cursive;
  --color-danger: #dc3545;
  --color-success: #28a745;
  --color-warning: #ffc107;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background: #222;
}

a,
button {
  outline: none;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 100%;
  height: 3em;
  background: linear-gradient(120deg, #2d3142, #242423);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  margin: 0;
}

ul li,
ul li a {
  list-style-type: none;
  text-decoration: none;
  font-family: var(--font-roboto);
  color: white;
}

li a {
  line-height: 0;
}

ul li * {
  vertical-align: middle;
}

ul:last-child {
  margin-right: 1em;
}

.nav-icon a {
  font-weight: bolder;
  transition: 0.3s;
  text-decoration: none;
}

.nav-icon a:hover,
.nav-icon a:active {
  color: #ee4266;
}
.icon {
  vertical-align: middle;
  /*display: inline-flex;*/
}

.flash-msg {
  width: max-content;
  position: absolute;

  right: 1em;
  bottom: 1em;

  padding: 0.8em;
  border-radius: 8px;
  animation: hideNotification 3s 4s ease forwards;
}

@keyframes hideNotification {
  0% {
    visibility: initial;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}
