<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static",filename="signIn.css") }}">
    <title>Login</title>
</head>
<body>

    <div class="center">
        <h1>Login</h1>
        <form action="/api/auth/login" method="post">
            <div class="txt_field">
                <input type="text" name="username" id="username" required>
                <span></span>
                <label for="username">Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="password" required>
                <span></span>
                <label for="password">Password</label>
            </div>

            <div class="pass">Forget Password?</div>
            
            <input type="submit" value="Login">
            
            {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

            {% for category, message in messages %}
            <div class="alert-messages alert-{{ category }}">
                <span class="message">
                   {{ message}}
                </span>
            </div>
            {% endfor %}
            
                    
            {% endif %}
            

        {% endwith %}
            
            <div class="signup_link">
                Not a member? <a href="/signup">Signup</a>
            </div>

        </form>
    </div>

</body>
</html>
