<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SignUp</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for("static",filename="signIn.css") }}">


</head>
<body>
    
    <div class="center">
        <h1>SignUp</h1>
        <form action="{{ url_for("signupPage") }}" method="post" id="signup-form">
            {{ form.hidden_tag() }}

            <div class="txt_field">
                {{ form.name(id="name") }}
                <span></span>
                {{ form.name.label }}
            </div>

                
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <div class="txt_field">
                            {{ form.username(id="username") }}
                            <span></span>
                            {{ form.username.label }}
                        </div>
                        <div class="error">
                            <span class="material-icons">error</span>
                            <span class="err-msg">{{ error }}</span>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="txt_field">
                    {{ form.username(id="username") }}
                    <span></span>
                    {{ form.username.label }}
                </div>
                {% endif %}



            <div class="txt_field">
                {{ form.password(id="password", type="password") }}
                <span></span>
                {{ form.password.label }}
            </div>

            <div class="txt_field">
                {{ form.confirmPassword(id="confirmPassword", type="password", oninput="checkPassword()")}}
                <span></span>
                {{ form.confirmPassword.label }}
            </div>
            
            {{ form.submit }}
            

            
            <div class="signup_link">
                Already a member? <a href="{{ url_for("loginPage") }}">Login</a>
            </div>

        </form>
    </div>

    
</body>

<script>
    function checkPassword() {
  var prev = document.getElementById('password').value;
    var rePass = document.getElementById('confirmPassword').value;
    if (prev !== rePass) {
    document.getElementById('confirmPassword').style.color  = 'red'
   
  }
  else {
      document.getElementById('confirmPassword').style.color  = 'black'
      
  }
}
</script>

</html>
